*{
    margin: 0;
}
.App{
    background-color: #2d315c;
}
.app-title{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    color: white;
}
.app-title h2{
    margin-right: 1rem;
}
.search{
    background-color: #2d315c;
    border: 1px solid gray;
    color: wheat;
}
.movie-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.movie{
    position: relative;
    background-color: #373b69;
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.movie img{
    max-width: 100%;
}

.movie-info{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;

}

.movie-info-title{
    color: white;
    font-size: 1rem;
    font-weight: bold;

}
.movie-info span{
    color: white;
}
.movie-overview{
    position: absolute;
    border-top-left-radius: 3PX;
    border-top-right-radius: 3PX;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color:#373b69;
    overflow: auto;
    max-height: 100%;
    padding: 1rem;
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-overview{
    transform: translateY(0%);


}